<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilo1.css">
    </head>
    <body>
        <div class="container bg-primary">
            <!--12 pts-->
            <div class="row">
                <div class="col-3 bg-danger">
                    <p class="clase1" >NodeJS</p>
                </div>
                <div class="col-9 bg-primary">
                    <p class="clase1">Express</p>
                </div>    
            </div>
        </div>
        <div class="container">
            <div style="background-color:rgb(196,173,82) ;">
                <p>Este es mi primer bloque div</p>
                <p>Este es mi primer bloque div</p>
                <p id="p9">Este es mi primer bloque div</p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
    </body>
</html>